<div class="container-fluid">
  <!-- MATCHING EVENTS CARD STARTS -->
  <div class="row scheduler-events-card-wrapper col-md-8">
    <h3 class="scheduler-event-text">MATCHING EVENTS GO HERE</h3>
  </div>
  <!-- MATCHING EVENTS CARD ENDS -->
  <!-- SELECTED EVENTS STARTS -->
  <div class="row scheduler-selected-card-wrapper col-md-8">
    <h4 class="scheduler-event-text">SELECTED EVENTS GO HERE</h4>
  </div>
  <!-- SELECTED EVENTS ENDS -->
</div>
