<div class="container-fluid container-home">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="home">Home Page</h1>
      <%= link_to "Login with Google", "/auth/google_oauth2", class: "btn btn-lg btn-default btn-home" %>
    </div>
  <div class="col-md-2"></div>
</div>
