@import "colors";

//=====NAVBAR=====
.navbar {
  background-color: $base-navy !important;
  border-color: $base-orange !important;
}

.navbar-link-left {
  color: $base-orange !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8em;
  margin: 5px 10px 5px 10px;
  padding: 0px 0px 0px 15px;
}

.navbar-link-right {
  color: $base-orange !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8em;
  margin: 5px 10px 5px 10px;
  padding: 0px 15px 0px 0px;
}

//=====HOME=====
.home-title-wrapper {
  margin-top: 10%;
}

.home-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 9.5em;
  color: $base-orange;
  text-align: center;
  -webkit-text-stroke: 2px $base-white;
  text-shadow: 4px 4px 0 #000
}

.home-meetup-login-wrapper {
  margin-top: 20px;
  text-align: center;
}

.home-login-btn {
  background-color: $base-navy;
  border-color: $base-orange;
  color: $base-white;
  font-family: 'Ubuntu', sans-serif;
}

//=====DASHBOARD=====
.dashboard-user-card-wrapper {
  background-color: $base-white;
  float: none;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-style: solid;
  border-width: 3px;
  border-color: $base-orange;
}

.dashboard-user-img-card {
  background-color: $base-white;
}

.dashboard-user-img {
  height: 250px;
  padding: 10px 5px;
}

.dashboard-user-info-card {
  background-color: $base-white;
  padding: 20px 20px;
}

.dashboard-user-text {
  color: $base-orange;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}

.dashboard-week-card-wrapper {
  background-color: $base-white;
  float: none;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-style: solid;
  border-width: 3px;
  border-color: $base-orange;
  height: 310px;
  overflow-y: auto;
}

.dashboard-history-card-wrapper {
  background-color: $base-white;
  float: none;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-style: solid;
  border-width: 3px;
  border-color: $base-orange;
  height: 310px;
  overflow-y: auto;
}

.dashboard-scheduler-btn {
  background-color: $base-navy;
  border-color: $base-orange;
  color: $base-white;
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-event-wrapper {
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: $base-orange;
  margin: 5px;
  padding: 10px;

}

//=====SCHEDULER=====
.scheduler-events-card-wrapper {
  background-color: $base-white;
  float: none;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  height: 310px;
  overflow-y: auto;
  border-style: solid;
  border-width: 3px;
  border-color: $base-orange;
}

.scheduler-event-text {
  color: $base-orange;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
}

.scheduler-selected-card-wrapper {
  background-color: $base-white;
  float: none;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  height: 310px;
  overflow-y: auto;
  border-style: solid;
  border-width: 3px;
  border-color: $base-orange;
}

.scheduler-event-wrapper {
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: $base-orange;
  margin: 5px;
  padding: 10px;

}

.scheduler-buttons-wrapper {
  float: none;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.save-button {
  width: 6em;
  height: 2em;
  background-color: $base-navy;
  border-color: $base-orange;
  color: $base-white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}

.clear-button {
  width: 6em;
  height: 2em;
  background-color: $base-navy;
  border-color: $base-orange;
  color: $base-white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}

.description-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85em;
}

//=====GENERAL=====
body {
  background: image-url('home-splash.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
