<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <%= link_to "EatUp", root_path, class: "navbar-link-left pull-left" %>
    <% if session[:user_id] %>
      <%= link_to "Dashboard", dashboard_path, class: "navbar-link-right pull-right" %>
    <% end %>
    <% if session[:user_id] %>
      <%= link_to "Log out", logout_path, class: "navbar-link-right pull-right" %>
    <% else %>
      <%= link_to "Log in", "/auth/google_oauth2", client_id: ENV["GOOGLE_CLIENT_ID"], class: "navbar-link-right pull-right" %>
    <% end %>
  </div>
</nav>
